spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/rpsm02?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    driver-class-name: com.mysql.cj.jdbc.Driver
